.nav{
    height: 50px;
    border-bottom: 2px solid rgb(177,25,26);
}
.dt{
    float: left;
    width: 220px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: rgb(177,25,26);
}
.dropdown{
    float: left;
}
.menu{
    height: 50px;
    float: left;
}
.menu ul li{
    float: left;
    text-align: center;
    line-height: 50px;
    margin-left: 30px;
    padding-right: 20px;
}
.menu ul li a{
    font-size: 15px;
    font-weight: 500;
}
.dd{
    width: 220px;
}
.dd a{
    color: white;
    padding-left: 20px;
    line-height: 30px;
}
.dd ul li{
    position: relative;
    width: 220px;
    height: 30px;
    background-color: rgb(200,22,35);
}
.dd ul li:hover{
    background-color: rgb(255,255,255);
}
.dd ul li:hover a{
    color: rgb(200,22,35);
}
.dd ul li::after{
    content: '>';
    position: absolute;
    right: 10px;
    color: white;
}
.artical{
    height: 420px;
}
.artical ul li img{
    width: 700px;
    height: 410px;
    margin-top: 10px;
    margin-left: 10px;
}
.focus{
    float: left;
}
.dd ul{
    float: left;
}
.newflash{
    float: right;
    width: 260px;
    height: 420px;
}
.newtop{
    height: 150px;
    border: 1px solid rgb(139, 56, 56);
    margin-top: 10px;
}
.newhd{
    height: 30px;
    border-bottom: 1px solid rgb(139, 56, 56);
}
.newtop h3{
    float: left;
    line-height: 30px;
    padding-left: 30px;
}
.rhd{
    float: right;
    line-height: 30px;
    padding-right: 30px;
}
.newft{
    height: 120px;
    padding-left: 10px;
}
.newft ul li{
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding:5px 0;
}
.newmiddle{
    height: 180px;
    border-left:1px solid rgb(139, 56, 56);
}
.newmiddle ul li{
    position: relative;
    float: left;
    width: 25%;
    height: 90px;
    background: url(../images/icons.png) no-repeat;
    background-position: 5px 15px;
    border-right:1px solid rgb(139, 56, 56);
    border-bottom:1px solid rgb(139, 56, 56);
}
.newmiddle ul li p{
    position: absolute;
    bottom: 10px;
    left: 32px;
    margin-left: -10px;
}
.newbottom{
    margin-top: 5px;
}
.newbottom img{
    width: 100%;
    height: 75px;
}
.good{
    height: 163px;
    margin-top: 10px;
}
.goodhd{
    position: relative;
    width: 220px;
    height: 163px;
    background-color: rgb(1, 1, 1,.7);
    float: left;
}
.goodhd img{
    position: absolute;
    left: 80px;
    top: 35px;
}
.good li{
    position: relative;
    float: left;
    width: 244px;
    height: 163px;
}
.good li:nth-child(n+2)::before{
    position: absolute;
    top: 15px;
    content: '';
    display: block;
    width: 2px;
    height: 140px;
}
.homeele{
    height: 30px;
    margin-top: 10px;
    border-bottom: 2px solid rgb(139, 56, 56);
}
.homeele h3{
    float: left;
    margin-left: 10px;
    font-size: 20px;
    line-height: 20px;
    color: rgb(230,0,18);
}
.homeele ul{
    float: right;
    margin-right: 20px;
}
.homeele ul li{
    float: left;
    padding-left: 10px;
}
.homeele ul li:nth-child(n+2)::before{
    content: '|';
    padding: 0 7px;
}
.show{
    overflow: hidden;
}
.show .one{
     float: left;
    width: 260px;
    height: 360px;
    text-align: center;
    background-color: rgb(249,249,249);
}
.show ul{
    display: inline-block;
    margin-top: 15px;
    font-size: 10px;
}
.show .one ul li{
    border-bottom:1px solid gray;
    padding:10px 0;
}
.two{
    float: left;
    width: 300px;
    height: 360px;
}
.two img{
    width: 300px;
    height: 100%;
}
.three{
    width: 200px;
    height: 360px;
    float: left;
}
.three img{
    width: 200px;
    height: 50%;
}
.four{
    float: left;
    width: 220px;
}
.five{
    width: 200px;
    float: left;
    height: 50%;
}